@import url(app.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Iransans.eot');
    src: url('../fonts/Iransans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Iransans.woff2') format('woff2'),
    url('../fonts/Iransans.woff') format('woff'),
    url('../fonts/Iransans.ttf') format('truetype');
url('../fonts/IRAN Sans Regular.ttf') format('truetype');
}
body{
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
}
h3{
    text-align: center;
}
table{
    direction: rtl;
    position: absolute;
    top: 20%;
}
th,td{
    text-align: right;
}
.btn-success{
    position: absolute;
    top: 225px;
    right: 17%;
    color: #000000;
}
.col-sm-9{
    float: right;
    position: fixed;
    margin-left: -65px;
}
.container{
    position: absolute;
    right: 3%;
    margin-top: 25px;
}
.contain{
    position: relative;
    text-align: end;
}
.card input{
    text-align: right;
}